<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Agrupar viviendas por estratos y mostrar cuántas viviendas hay en cada
      estrato
    </title>
  </head>
  <body>
    <h1>
      AGRUPAR VIVIENDAS POR ESTRATOS Y MOSTRAR CUANTAS VIVIENDAS HAY EN CADA
      ESTRATO
    </h1>

    {% if conteo_por_estrato_html %} {{ conteo_por_estrato_html|safe }} {% else
    %}
    <p>No hay información disponible.</p>
    {% endif %}
  </body>
</html>
