<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Eliminar las filas con estrato 0 y volver a mostrar cuántas viviendas hay
      en cada estrato
    </title>
  </head>
  <body>
    <h1>
      ELIMINAR LAS FILAS CON ESTRATO 0 PORQUE NO EXISTE Y VOLVER A MOSTRAR
      CUANTAS VIVIENDAS HAY EN CADA ESTRATO
    </h1>
    <h1>
      Eliminar las filas con estrato 0 y volver a mostrar cuántas viviendas hay
      en cada estrato
    </h1>

    {% if conteo_por_estrato_html %} {{ conteo_por_estrato_html|safe }} {% else
    %}
    <p>No hay información disponible.</p>
    {% endif %} {% if grafica_estrato %}
    <img
      src="data:image/png;base64, {{ grafica_estrato }}"
      alt="Gráfica de Estratos"
    />
    {% else %}
    <p>No hay gráfica disponible.</p>
    {% endif %}
  </body>
</html>
